numpy==1.24.4
opencv-python
loguru
scikit-image
scikit-learn
tqdm
torchvision>=0.10.0
Pillow
thop
ninja
tabulate
lap
motmetrics
filterpy
h5py
matplotlib
scipy
prettytable
easydict
pyyaml
yacs
termcolor
gdown
cython
cython_bbox
faiss-cpu
ultralytics
onnx==1.15.0
onnx-simplifier
onnxruntime==1.15.1
insightface==0.7.3
tensorboard